<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Inspeccion General</h4>
                <h6 class="card-subtitle">made with bootstrap elements</h6>
                <form class="form p-t-20">
                    <div class="form-group">
                        <label for="exampleInputuname">User Name</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" class="form-control" id="exampleInputuname" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pwd1">Password</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-lock"></i></div>
                            <input type="password" class="form-control" id="pwd1" placeholder="Enter email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pwd2">Confirm Password</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-lock"></i></div>
                            <input type="password" class="form-control" id="pwd2" placeholder="Enter email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox checkbox-success">
                            <input id="checkbox1" type="checkbox">
                            <label for="checkbox1"> Remember me </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
                    <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Inspeccion General 2</h4>
                <h6 class="card-subtitle">made with bootstrap elements</h6>
                <form class="form p-t-20">
                    <div class="form-group">
                        <label for="exampleInputuname2">User Name</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="exampleInputuname2" placeholder="Username">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail2">Email address</label>
                        <div class="input-group">
                            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputpwd2">Password</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="exampleInputpwd2" placeholder="Enter pwd">
                            <div class="input-group-addon"><i class="ti-lock"></i></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputpwd3">Confirm Password</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="exampleInputpwd3" placeholder="Enter pwd">
                            <div class="input-group-addon"><i class="ti-lock"></i></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox checkbox-success">
                            <input id="checkbox2" type="checkbox">
                            <label for="checkbox2"> Remember me </label>
                        </div>
                    </div>
                    <div class="text-left">
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
                        <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Sample Horizontal Form with Icons</h4>
                <h6 class="card-subtitle">Use Bootstrap's predefined grid classes for horizontal form</h6>
                <form class="form-horizontal p-t-20">
                    <div class="form-group row">
                        <label for="exampleInputuname3" class="col-sm-3 control-label">Username*</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text" class="form-control" id="exampleInputuname3" placeholder="Username">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail3" class="col-sm-3 control-label">Email*</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-email"></i></div>
                                <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Enter email">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="web" class="col-sm-3 control-label">Website</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-world"></i></div>
                                <input type="text" class="form-control" id="web" placeholder="Enter Website Name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword4" class="col-sm-3 control-label">Password*</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-lock"></i></div>
                                <input type="password" class="form-control" id="exampleInputpwd4" placeholder="Enter pwd">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword5" class="col-sm-3 control-label">Re Password*</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-lock"></i></div>
                                <input type="password" class="form-control" id="exampleInputpwd5" placeholder="Re Enter pwd">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-sm-3 col-sm-9">
                            <div class="checkbox checkbox-success">
                                <input id="checkbox33" type="checkbox">
                                <label for="checkbox33">Check me out !</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-0">
                        <div class="offset-sm-3 col-sm-9">
                            <button type="submit" class="btn btn-success waves-effect waves-light">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Form with right Icon</h4>
                <h6 class="card-subtitle">Use Bootstrap's predefined grid classes for horizontal form</h6>
                <form class="form-horizontal p-t-20">
                    <div class="form-group row">
                        <label for="uname" class="col-sm-3 control-label">Username*</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control" id="uname" placeholder="Username">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email2" class="col-sm-3 control-label">Email*</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                <div class="input-group-addon"><i class="ti-email"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="web1" class="col-sm-3 control-label">Website</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control" id="web1" placeholder="Enter Website Name">
                                <div class="input-group-addon"><i class="ti-world"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pass3" class="col-sm-3 control-label">Password*</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="password" class="form-control" id="pass3" placeholder="Enter pwd">
                                <div class="input-group-addon"><i class="ti-lock"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pass4" class="col-sm-3 control-label">Re Password*</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="password" class="form-control" id="pass4" placeholder="Re Enter pwd">
                                <div class="input-group-addon"><i class="ti-lock"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-sm-3 col-sm-9">
                            <div class="checkbox checkbox-success">
                                <input id="checkbox35" type="checkbox">
                                <label for="checkbox35">Check me out !</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-0">
                        <div class="offset-sm-3 col-sm-9 ">
                            <button type="submit" class="btn btn-success waves-effect waves-light">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>