<div class="row" *ngIf="esAdmin">
    <div class="col-sm-12 col-md-12 col-lg-12 ">
        <app-barra-acciones></app-barra-acciones>

    </div>
</div>
<br>

<form>
    <div class="row">
        <div class="col-md-12 ">

            <div class="row">
                <div class="col-md-4">
                    <button type="submit" routerLink="/" class="btn btn-outline-danger btn-block">
                        <i class="fa fa-rotate-left"> Exit</i>
                    </button>
                </div>
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary btn-block">
                        <i class="fa fa-save"> Save</i>
                    </button>
                </div>

            </div>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-body">
                <div class="row">

                    <div class="col-md-4">
                        <label for="nombre">Name</label>
                        <input type="text" name="nombre" class="form-control" placeholder="Name">
                    </div>

                    <div class="col-md-4">
                        <label for="fecha">Date</label>
                        <div class="input-group date">
                            <input type="date" name="fecha" class="form-control">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label for="observador">Observer</label>
                        <input type="text" name="observador" class="form-control" placeholder="Observer">
                    </div>

                    <div class="col-md-4">
                        <label for="puesto">Place</label>
                        <input type="text" name="puesto" class="form-control" placeholder="Place">
                    </div>
                    <div class="col-md-4">
                        <label for="Zona">Zone</label>
                        <input type="text" name="Zona" class="form-control" placeholder="Zone">
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-body">
                <h3 class="box-title m-b-0">1) Worker's position</h3>
                <div class="btn-group align-self-end" role="group">
                    <button type="submit" class="btn btn-primary btn-rounded btn-lg">
                        <i class="fa fa-camera"> Take photo</i>
                    </button>
                    <button type="submit" class="btn btn-warning btn-rounded btn-lg">
                        <i class="fa fa-bell"> Alarm</i>
                    </button>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <label class="btn">
                            <img [ngClass]="{'check':seleccionado[0]}" (click)="seleccionado[0]=!seleccionado[0]" src="../../../assets/images/icon/golpeado.svg"
                                alt="golpeado" class="icon-form">
                            <input type="checkbox" name="golpeado" id="golpeado" value="golpeado" class="hidden"
                                autocomplete="off">
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <label class="btn">
                            <img [ngClass]="{'check':seleccionado[1]}" (click)="seleccionado[1]=!seleccionado[1]" src="../../../assets/images/icon/golpeandose.svg"
                                alt="golpeado" class="icon-form">
                            <input type="checkbox" name="golpeado" id="golpeado" value="golpeado" class="hidden"
                                autocomplete="off">
                        </label>
                    </div>

                    <div class="col-sm-3">
                        <label class="btn">
                            <img [ngClass]="{'check':seleccionado[2]}" (click)="seleccionado[2]=!seleccionado[2]" src="../../../assets/images/icon/atrapado.svg"
                                alt="golpeado" class="icon-form">
                            <input type="checkbox" name="golpeado" id="golpeado" value="golpeado" class="hidden"
                                autocomplete="off">
                        </label>
                    </div>

                    <div class="col-sm-3">
                        <label class="btn">
                            <img [ngClass]="{'check':seleccionado[3]}" (click)="seleccionado[3]=!seleccionado[3]" src="../../../assets/images/icon/caidas.svg"
                                alt="golpeado" class="icon-form">
                            <input type="checkbox" name="golpeado" id="golpeado" value="golpeado" class="hidden"
                                autocomplete="off">
                        </label>
                    </div>

                    <div class="col-sm-3">
                        <label class="btn">
                            <img [ngClass]="{'check':seleccionado[4]}" (click)="seleccionado[4]=!seleccionado[4]" src="../../../assets/images/icon/alta-temp.svg"
                                alt="golpeado" class="icon-form">
                            <input type="checkbox" name="golpeado" id="golpeado" value="golpeado" class="hidden"
                                autocomplete="off">
                        </label>
                    </div>

                    <div class="col-sm-3">
                        <label class="btn">
                            <img [ngClass]="{'check':seleccionado[5]}" (click)="seleccionado[5]=!seleccionado[5]" src="../../../assets/images/icon/corriente.svg"
                                alt="golpeado" class="icon-form">
                            <input type="checkbox" name="golpeado" id="golpeado" value="golpeado" class="hidden"
                                autocomplete="off">
                        </label>
                    </div>

                    <div class="col-sm-3">
                        <label class="btn">
                            <img [ngClass]="{'check':seleccionado[6]}" (click)="seleccionado[6]=!seleccionado[6]" src="../../../assets/images/icon/absorcion.svg"
                                alt="golpeado" class="icon-form">
                            <input type="checkbox" name="golpeado" id="golpeado" value="golpeado" class="hidden"
                                autocomplete="off">
                        </label>
                    </div>

                    <div class="col-sm-3">
                        <label class="btn">
                            <img [ngClass]="{'check':seleccionado[7]}" (click)="seleccionado[7]=!seleccionado[7]" src="../../../assets/images/icon/esfuerzo.svg"
                                alt="golpeado" class="icon-form">
                            <input type="checkbox" name="golpeado" id="golpeado" value="golpeado" class="hidden"
                                autocomplete="off">
                        </label>
                    </div>

                    <div class="col-sm-3">
                        <label class="btn">
                            <img [ngClass]="{'check':seleccionado[8]}" (click)="seleccionado[8]=!seleccionado[8]" src="../../../assets/images/icon/ingestion.svg"
                                alt="golpeado" class="icon-form">
                            <input type="checkbox" name="golpeado" id="golpeado" value="golpeado" class="hidden"
                                autocomplete="off">
                        </label>
                    </div>

                    <div class="col-sm-3">
                        <label class="btn">
                            <img [ngClass]="{'check':seleccionado[9]}" (click)="seleccionado[9]=!seleccionado[9]" src="../../../assets/images/icon/inhalacion.svg"
                                alt="golpeado" class="icon-form">
                            <input type="checkbox" name="golpeado" id="golpeado" value="golpeado" class="hidden"
                                autocomplete="off">
                        </label>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body">
                <h3 class="card-title">2) Personal Protection Equipment</h3>
                <h4 class="card-title">2.1) Select part of the damaged body</h4>
                <div class="btn-group align-self-end" role="group">
                    <button type="submit" class="btn btn-primary btn-rounded btn-lg">
                        <i class="fa fa-camera"> Take photo</i>
                    </button>
                    <!-- <button type="submit" class="btn btn-warning btn-rounded btn-lg">
                            <i class="fa fa-bell"> Alarma</i>
                        </button> -->
                </div>
                <br>
                <div class="row align-items-center justify-content-center">
                    <!-- <angular-maphilight id="avatarmap" angular-maphilight-config="config"> -->
                        <img src="../../../assets/images/icon/avatar.png" id="avatar" alt="avatar" class="img-avatar"
                            usemap="#avatarmap">
                        <!-- <map>
                            <area shape="rect" class="area" coords="0,0,100,200" [ngClass]="{'avatar-select':avatar[0]}" (click)="avatar[0]=!avatar[0]"
                                alt="Ojos">
                            <area shape="rect" coords="712,334,771,399" [ngClass]="{'avatar-select':avatar[1]}" (click)="avatar[1]=!avatar[1]"
                                alt="Boca">
                            <area shape="rect" coords="1080,489,913,296" [ngClass]="{'avatar-select':avatar[2]}"
                                (click)="avatar[2]=!avatar[2]" alt="mano-izquierda">
                        </map> -->
                    <!-- </angular-maphilight> -->
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card card-body">
                <h4 class="card-title">2.2) Select PPE that you wear</h4>
                <div class="btn-group align-self-end" role="group">
                    <button type="submit" class="btn btn-primary btn-rounded btn-lg">
                        <i class="fa fa-camera"> Take photo</i>
                    </button>
                    <!-- <button type="submit" class="btn btn-warning btn-rounded btn-lg">
                            <i class="fa fa-bell"> Alarma</i>
                        </button> -->
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <img [ngClass]="{'check':epis[0]}" (click)="epis[0]=!epis[0]" src="../../../assets/images/icon/epis/Recurso-3.svg"
                            alt="avatar" class="icon-form">
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <img [ngClass]="{'check':epis[1]}" (click)="epis[1]=!epis[1]" src="../../../assets/images/icon/epis/Recurso-4.svg"
                            alt="avatar" class="icon-form">
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <img [ngClass]="{'check':epis[2]}" (click)="epis[2]=!epis[2]" src="../../../assets/images/icon/epis/Recurso-5.svg"
                            alt="avatar" class="icon-form">
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <img [ngClass]="{'check':epis[3]}" (click)="epis[3]=!epis[3]" src="../../../assets/images/icon/epis/Recurso-6.svg"
                            alt="avatar" class="icon-form">
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <img [ngClass]="{'check':epis[4]}" (click)="epis[4]=!epis[4]" src="../../../assets/images/icon/epis/Recurso-7.svg"
                            alt="avatar" class="icon-form">
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <img [ngClass]="{'check':epis[5]}" (click)="epis[5]=!epis[5]" src="../../../assets/images/icon/epis/Recurso-8.svg"
                            alt="avatar" class="icon-form">
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <img [ngClass]="{'check':epis[6]}" (click)="epis[6]=!epis[6]" src="../../../assets/images/icon/epis/Recurso-9.svg"
                            alt="avatar" class="icon-form">
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <img [ngClass]="{'check':epis[7]}" (click)="epis[7]=!epis[7]" src="../../../assets/images/icon/epis/Recurso-10.svg"
                            alt="avatar" class="icon-form">
                    </div>
                    <div class="col-sm-3 col-md-4">
                        <img [ngClass]="{'check':epis[8]}" (click)="epis[8]=!epis[8]" src="../../../assets/images/icon/epis/Recurso-11.svg"
                            alt="avatar" class="icon-form">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class=" card card-body">
                <div class="btn-group align-self-end" role="group">
                    <button type="submit" class="btn btn-primary btn-rounded btn-lg">
                        <i class="fa fa-camera"> Take photo</i>
                    </button>
                    <!-- <button type="submit" class="btn btn-warning btn-rounded btn-lg">
                                <i class="fa fa-bell"> Alarma</i>
                            </button> -->
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Unsafe acts</th>
                                <th>Description of the situation detected</th>
                                <th>consequence</th>
                                <th class="text-nowrap">Scope</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Do you know the 7 Cardinal Security Rules? Which are? You'd know
                                                                         locate them on your computer?</td>
                                <td>
                                    <input type="text" name="descripcion-reglas-cardinales" placeholder="Description of the situation detected">
                                </td>
                                <td>
                                    <input type="text" name="consecuencia-reglas-cardinales" placeholder="Consecuencia">

                                </td>
                                <td class="text-nowrap">
                                    <input type="text" name="alcance-reglas-cardinales" placeholder="Scope">
                                </td>
                            </tr>
                            <tr>
                                <td>Performing tasks at an inappropriate pace (running)</td>
                                <td>
                                    <input type="text" name="descripcion-correr" placeholder="Description of the situation detected">
                                </td>
                                <td>
                                    <input type="text" name="consecuencia-correr" placeholder="Consequence">

                                </td>
                                <td class="text-nowrap">
                                    <input type="text" name="alcance-correr" placeholder="Scope">
                                </td>
                            </tr>
                            <tr>
                                <td>Lifting loads manually incorrectly</td>
                                <td>
                                    <input type="text" name="descripcion-levantar-cargas" placeholder="Description of the situation detected">
                                </td>
                                <td>
                                    <input type="text" name="consecuencia-levantar-cargas" placeholder="Consequence">

                                </td>
                                <td class="text-nowrap">
                                    <input type="text" name="alcance-levantar-cargas" placeholder="Scope">
                                </td>
                            </tr>
                            <tr>
                                <td>Adopt an incorrect position in the position</td>
                                <td>
                                    <input type="text" name="descripcion-posicion-incorreta" placeholder="Description of the situation detected">
                                </td>
                                <td>
                                    <input type="text" name="consecuencia-posicion-incorreta" placeholder="Consequence">

                                </td>
                                <td class="text-nowrap">
                                    <input type="text" name="alcance-posicion-incorreta" placeholder="Scope">
                                </td>
                            </tr>
                            <tr>
                                <td>Lack of coordination in joint operations</td>
                                <td>
                                    <input type="text" name="descripcion-coordinacion" placeholder="Description of the situation detected">
                                </td>
                                <td>
                                    <input type="text" name="consecuencia-coordinacion" placeholder="Consequence">

                                </td>
                                <td class="text-nowrap">
                                    <input type="text" name="alcance-coordinacion" placeholder="Scope">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>