<div class="btn-group" role="group" id="barra-acciones">
    <button type="button" [routerLink]="['/procedimientos']" class="btn btn-secondary btn-rounded btn-lg"> <i class="fa fa-cogs"> Procedures</i></button>
    <button type="button" class="btn btn-outline-info btn-rounded btn-lg"><i class="fa fa-camera"></i></button>
    <button type="button" class="btn btn-outline-success btn-rounded btn-lg"><i class="fa fa-microphone"></i></button>
    <button type="button" [routerLink]="['/mini-formacion']" class="btn btn-secondary btn-rounded btn-lg"><i class="fa fa-info-circle"> Mini-Training</i></button>
  </div>